/* ####################  GENERAL STYLES  #################### */
/* ########################################################## */

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* --------------  COLORS  -------------- */
	--slate-700: #2e475d;

	--gray-1: #f6f9fc;
	--gray-2: #eaf0f6;
	--gray-3: #dbe4ed;

	--bg-color-1: #fff;
	--bg-color-2: var(--gray-1);

	--outlined-hover-bg: #ffebe6;
	--outlined-active-bg: #ffcec2;
	--primary: #ff5c35;
	--primary-hover: #e04826;
	--primary-active: #b3361d;

	--contrast-outlined-bg: #edf8ff;
	--contrast-outlined-hover-bg: #caebff;
	--contrast-primary: #0000c5;
	--contrast-hover: #caebff;
	--contrast-color: #fff;

	--primary-text: #fff;
	--border-color-1: var(--gray-3);

	--highlight-color: #0068b1;

	--font-color-1: #213343;
	--font-color-2: #2e475d;
	
	--icon-color-1: #516f90;


	/* --------------  FONT-SIZE  -------------- */
	--fs-normal: 1rem;
	--fs-small: 0.875rem;

	/* --------------  FONT-WEIGHT  -------------- */
	--font-weight-weak: 300;
	--font-weight-bold-1: 500;

	
	/* --------------  BORDER RADIUS  -------------- */
	--br-normal: 0.5rem;
	--br-sm: 3px;
	
	/* --------------  LINE-HEIGHT  -------------- */
	--line-height-m: 1.75rem;
	--line-height-default: 1;
	--line-height-s: 1.531;
	--line-height-xs: 1.375;
	
	/* --------------  Z-index  -------------- */
	--z-menu: 10;
}

html {
	height: 100vh;
}

html, button {
	font-family: 'Lexend Deca', sans-serif;
}

body {
	font-size: var(--fs-small);
	line-height: var(--line-height-default);
	color: var(--font-color-1);
}

a {
	color: inherit;
}

.heading-3,
.heading-4 {
	font-weight: 600;
}

.heading-3 {
	font-size: 1.5rem;
	line-height: 1.42;
}

.heading-4 {
	font-size: 1.125rem;
	line-height: 1.25;
}

.container {
	max-width: 67.5rem;
	margin: auto;
}

/* ####################  UTILS  #################### */
/* ########################################################## */
/* ########################################################## */
/* ########################################################## */
/* --------------  LAYOUT  -------------- */

.grid {
	display: grid;
}

.grid--cols-2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
	grid-template-columns: repeat(3, 1fr);
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.align-self--stretch {
	align-self: stretch;
}

.gap-1 {
	gap: 1rem;
}

.h-100 {
	height: 100%;
}

.w-80 {
	width: 80% !important;
}

.position-static {
	position: static !important;
}

/* --------------  DECORATION  -------------- */

.underlined-container::after {
	content: '';
	position: absolute;
	border-top: 2px solid transparent;
	bottom: 0;
	left: 0;
	width: 100%;
}

.underlined-container:hover::after {
	border-color: var(--slate-700);
}

.end-arrow::after {
	content: ' \2192';
}


/* ####################  BASIC COMPONENTS  #################### */
/* ########################################################## */
/* ########################################################## */
/* ########################################################## */

/* ####################  LINK  #################### */
/* ########################################################## */
.link-bare {
	color: var(--highlight-color);
	font-weight: 500;
	text-decoration: none;
}

.link--div {
	text-decoration: none;
}

.link,
.link--container {
	cursor: pointer;
	font-weight: 500;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.link:hover {
	text-decoration: underline;
}

.link--container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.link--container:hover > span {
	text-decoration: underline;
}

.link--container > i {
	transition: transform 0.3s ease-in-out;
	text-decoration: none;
}

.link--container i.fa-earth-americas {
	font-size: 1rem;
}

.link--container:hover .rotated {
	transform: rotate(180deg);
}

.link--padded-1 {
	padding: 0 1rem;
}

.link.link--highlighted:hover, 
.link--container.link--highlighted:hover {
	color: var(--highlight-color);
}

.contrast .link.link--highlighted:hover, 
.contrast .link--container.link--highlighted:hover {
	color: var(--contrast-primary);
}

/* ####################  BUTTON  #################### */
/* ########################################################## */

.btn {
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	line-height: 1.57;
	font-size: var(--fs-small);
	font-weight: 500;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: var(--br-normal);
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	transition:
		background-color 0.3s linear,
		color 0.3s linear;
}

.btn--unpadded {
	padding: 0;
}

.btn--primary {
	background-color: var(--primary);
	color: var(--primary-text);
}

.contrast .btn--primary {
	background-color: var(--contrast-primary);
	color: var(--contrast-color);
}

.btn--primary:hover {
	background-color: var(--primary-hover);
}

.contrast .btn--primary:hover {
	background-color: var(--contrast-hover);
	color: var(--contrast-primary);
}

.btn--primary:active {
	background-color: var(--primary-active);
}

.btn--outlined {
	background-color: var(--bg-color-1);
	color: var(--primary);
	border-color: currentColor;
}

.contrast .btn--outlined {
	background-color: var(--contrast-outlined-bg);
	color: var(--contrast-primary);
}

.btn--outlined:hover {
	background-color: var(--outlined-hover-bg);
	color: var(--primary-hover);
}

.contrast .btn--outlined:hover {
	background-color: var(--contrast-outlined-hover-bg);
	color: var(--contrast-primary);
}

.btn--outlined:active {
	background-color: var(--outlined-active-bg);
	color: var(--primary-active);
}

/* ####################  SWITCH  #################### */
/* ########################################################## */

.switch {
	position: relative;
	height: 1rem;
	width: 2rem;
	border: 1px solid var(--font-color-1);
	border-radius: var(--br-normal);
	background-color: white;
	transition:
		border-color 0.5s ease-in-out,
		background-color 0.5s ease-in-out,
		border-width 0.5s ease-in-out;
}

.switch.active {
	border: 2px solid var(--contrast-primary);
	background-color: var(--contrast-primary);
}

.switch__contrast-toggle {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 100px;
	padding: 1px;
	transition: 
		width 0.5s linear;
}

.switch.active .switch__contrast-toggle {
	width: 0.75rem;
}

.btn:hover .switch__contrast-toggle:not(.switch.active .switch__contrast-toggle),
.switch:hover .switch__contrast-toggle:not(.switch.active .switch__contrast-toggle) {
	background-color: var(--gray-2);
}

.switch__normal-toggle {
	height: 97%;
	aspect-ratio: 1 / 1;
	background: linear-gradient(
		90deg,
		white,
		white 50%,
		var(--font-color-1) 50%,
		var(--font-color-1)
	);
	border: 1px solid var(--font-color-1);
	border-radius: 50%;
	transition: 
		transform 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}

.switch.active .switch__normal-toggle {
	transform: rotate(180deg);
	opacity: 0;
}

/* ####################  SELECTOR  #################### */
/* ########################################################## */
.selector {
	position: relative;
	display: flex;
	align-self: stretch;
}

.selector:hover .selector__options{
	height: auto;
	opacity: 1;
	padding: 1rem;
}

.selector__options {
	position: absolute;
	z-index: var(--z-menu);
	bottom: 0;
	transform: translate(25%, 100%);
	display: flex;
	height: 0;
	overflow: hidden;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0;
	border: 1px solid var(--border-color-1);
	background-color: var(--bg-color-1);
	list-style-type: none;
	border-radius: var(--br-normal);
	opacity: 0;
	transition: opacity 0.5s;
}

/* ####################  HORIZONTAL CARD  #################### */
/* ########################################################## */

.card {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	background-color: white;
	border-radius: var(--br-normal);
}

.card--horizontal i,
.card--horizontal__img {
	height: 2rem;
	width: 2rem;
	object-fit: cover;
	border-radius: var(--br-sm);
}

.card--horizontal__title {
	margin-bottom: 0.25rem;
}

.card--horizontal__title i {
	color: var(--icon-color-1);
}

.card--horizontal__description {
	line-height: 1.57;
	font-weight: var(--font-weight-weak);
}
