/* ####################  GENERAL STYLES  #################### */
/* ########################################################## */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* --------------  COLORS  -------------- */
	--slate-700: #2e475d;

	--gray-1: #f6f9fc;
	--gray-2: #eaf0f6;
	--gray-3: #dbe4ed;

	--bg-color-1: #fff;
	--bg-color-2: var(--gray-1);

	--contrast-primary: #0000c5;
	--contrast-opposite: #fff;

	--primary: #ff5c35;
	--primary-hover: #e04826;
	--primary-active: #b3361d;
	--primary-text: #fff;
	--border-color-1: var(--gray-3);

	--highlight-color: #0068b1;

	--font-color-1: #213343;
	--font-color-2: #2e475d;


	/* --------------  FONT-SIZE  -------------- */
	--fs-normal: 1rem;
	--fs-small: 0.875rem;
	
	/* --------------  BORDER RADIUS  -------------- */
	--br-normal: 0.5rem;
	
	/* --------------  BORDER RADIUS  -------------- */
	--line-height-m: 1.75rem;
	--line-height-s: 1.531;
	--line-height-xs: 1.375;
}

html {
	height: 100vh;
}

html, button {
	font-family: 'Lexend Deca', sans-serif;
}

body {
	font-size: var(--fs-small);
	line-height: var(--line-height-s);
}

a {
	color: inherit;
}

.container-1 {
	max-width: 67.5rem;
	margin: auto;
}

/* ####################  BASIC COMPONENTS  #################### */
/* ########################################################## */
/* ########################################################## */
/* ########################################################## */

/* ####################  LINK  #################### */
/* ########################################################## */
.link, .link--container {
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.link--container {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.link--container:hover *:not(i) {
	text-decoration: underline;
}

.link--container i {
	transition: transform 0.3s ease-in-out;
	text-decoration: none;
}

.link--container i.fa-earth-americas {
	font-size: 1rem;
}

.link--container:hover .rotated {
	transform: rotate(180deg);
}

.link--padded-1 {
	padding: 0 1rem;
}

/* ####################  BUTTON  #################### */
/* ########################################################## */

.btn {
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	line-height: 1.57;
	font-size: var(--fs-small);
	font-weight: 500;
	padding: 0.25rem 1rem;
	border-radius: var(--br-normal);
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition:
		background-color 0.15s linear,
		color 0.15s linear;
}

.btn--unpadded {
	padding: 0;
}

.btn--primary {
	background-color: var(--primary);
	color: var(--primary-text);
}

.btn--primary:hover {
	background-color: var(--primary-hover);
}

.btn--primary:active {
	background-color: var(--primary-active);
}

/* ####################  SWITCH  #################### */
/* ########################################################## */

.switch {
	position: relative;
	height: 1rem;
	width: 2rem;
	border: 1px solid var(--font-color-1);
	border-radius: var(--br-normal);
	background-color: white;
	transition:
		border-color 0.5s ease-in-out,
		background-color 0.5s ease-in-out,
		border-width 0.5s ease-in-out;
}

.switch.active {
	border: 2px solid var(--contrast-primary);
	background-color: var(--contrast-primary);
}

.switch__contrast-toggle {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: white;
	border-radius: 100px;
	padding: 1px;
	transition: 
		width 0.5s linear;
}

.switch.active .switch__contrast-toggle {
	width: 0.75rem;
}

.switch__contrast-toggle:hover:not(.switch.active .switch__contrast-toggle) {
	background-color: var(--gray-2);
}

.switch__normal-toggle {
	height: 97%;
	aspect-ratio: 1 / 1;
	background: linear-gradient(
		90deg,
		white,
		white 50%,
		var(--font-color-1) 50%,
		var(--font-color-1)
	);
	border: 1px solid var(--font-color-1);
	border-radius: 50%;
	transition: 
		transform 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}

.switch.active .switch__normal-toggle {
	transform: rotate(180deg);
	opacity: 0;
}


/* ####################  UTILS  #################### */
/* ########################################################## */
/* ########################################################## */
/* ########################################################## */
/* --------------  LAYOUT  -------------- */

.space-between {
	display: flex;
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.gap-1 {
	gap: 1rem;
}

/* --------------  DECORATION  -------------- */

.underlined-container::after {
	content: '';
	position: absolute;
	border-top: 2px solid transparent;
	bottom: 0;
	left: 0;
	width: 100%;
}

.underlined-container:hover::after {
	border-color: var(--slate-700);
}

/* ####################  COMPLEX COMPONENTS  #################### */
/* ########################################################## */
/* ########################################################## */

/* ########################################################## */
/* ####################  NAVBAR  #################### */
/* ########################################################## */
/* --------------  Main  -------------- */

.main-header {
	line-height: 1;
}

.navbar-container {
	border-bottom: 1px solid var(--border-color-1);
}

.navbar-container .link:hover, .navbar-container .link--container:hover {
	color: var(--highlight-color);
}

.main-navbar {
	height: 5rem;
	color: var(--font-color-2);
	font-size: var(--fs-normal);
	line-height: var(--line-height-m);
}

.main-navbar__logo {
	height: 1.5rem;
	margin-right: 2rem;
	align-self: center;
}

.controls {
	flex: 1;
}

.controls__section {
	display: flex;
}

/* TODO: change this to icon */
.controls__search { 
	height: 100%;
	padding: 0 2rem;
	font-size: 1.5rem;
	border-right: 1px solid var(--border-color-1);
	display: flex !important;
	align-items: center;
	cursor: pointer
}

/* --------------  Secondary  -------------- */

.second-navbar {
	height: 3.375rem;
}
